.projet {
    font-size: 2rem;
    color: #00CCFF;
    text-align: center;
    letter-spacing: 1px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 4rem;
    margin: 0 auto;
    max-width: 1200px;
}

.project-card {
    background-color: #0e0632;
    border: solid 0.2px #891ffa;
    border-radius: 20px;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    max-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.4s;
}

.project-card:hover {
    box-shadow: 0 0 20px #891ffa;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1rem;
}

.project-image {
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin: 1rem 0;
}

.project-title {
    text-align: left;
    color: white;
    font-size: 1.4rem;
    margin: auto 1rem;
    font-weight: bold;
}

.project-description {
    text-align: left;
    font-size: 1rem;
    color: white;
    margin: 1rem;
    font-style: italic;
}

.project-langages {
    display: inline-block;
    background: linear-gradient(to right, #891ffa, #140035);
    background-size: 200%;
    background-position: left center;
    color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0 1rem;
    transition: background-position 0.7s ease-out;
}

.project-card:hover .project-langages{
    background-position: right center;
}

.logo-github {
    height: 40px; 
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo-github:hover {
  transform: scale(1.3);
}

.langages-github {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto 1rem;
    width: calc(100% - 2rem);
}

.divid {
    width: 30%;
    height: 3px;
    background-color: #1d1d1d;
    margin: 5rem auto; 
    border-radius: 1px; 
}

.placeholder-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e0632;
    border: 2px dashed #891ffa;
    color: white;
    font-style: italic;
}

/* MOBILE */
@media screen and (max-width: 768px) {

}

/* TABLETTE */
@media screen and (min-width: 769px) and (max-width: 1024px) {

}